body{
    background-image: url("https://cdn.pixabay.com/photo/2018/07/15/13/04/living-room-3539587_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1,h2{
    color: white;
}