{%extends 'base.html'%}
<h1>Welcome to My Gallery</h1>
{{block.super}}
{%block content%}
{% for image in images  %}
<div class="container">
<div class="row">
        <!-- displaying gallery categories -->
        <div class="column">
            <h2 class="text-center">{{image.image_name}}</h2>
        </div>
</div>       
    <div class="row">      
        <!-- Display category  images-->
        <div class="column">
            <img  src="{{image.image.url}}" class="img-responsive" alt="Image" ><a href="{{image.image.url}}" class="bg-primary">Image link</a><br><br>
        </div>

        
{%endfor %}
    </div>
    </div>
{%endblock%}